.faq {
  &__inner {
  }
  .accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-active-color: var(--col-dark-500);
    --bs-accordion-active-bg: var(--col-light-400);
    --bs-accordion-border-color: transparent;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b7cc00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b7cc00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .accordion-button {
    border-radius: 0;
    border-top: 1px solid var(--col-dark-700);
    box-shadow: none;
    font-family: var(--ff-heading);
    font-size: var(--fs-500);
    font-weight: var(--fw-semibold);
  }
  .accordion-body {
    padding: 0 1rem 2rem 0;
  }
}
