.review_slider {
  background-color: var(--col-dark-900);

  &__slider {
    overflow-x: hidden;
  }

  .swiper-wrapper {
    padding-bottom: 2.5rem;
  }
  &__card {
    background-color: var(--col-dark-700);
    border: 1px solid var(--col-dark-500);
    border-radius: var(--radius-100);
    padding: 1.5rem;
    font-size: var(--fs-400);
    height: 100%;
    margin-inline: 1rem;
  }
  &__title {
    font-weight: var(--fw-semibold);
    margin-bottom: 0.5em;
  }
}
