.who-grid {
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid var(--col-dark-400);
    }

    padding: 1.5rem 0;

    @media (min-width: 992px) {
      &:not(:last-child) {
        border-bottom: none;
        border-right: 1px solid var(--col-dark-400);
      }
      padding: 0 1.5rem;
    }

    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
  }
  &__icon-wrapper {
    height: 100px;
    display: flex;
    align-items: center;
  }

  &__icon {
    aspect-ratio: 98 / 76;
    width: 90px;
    margin-bottom: 0;
  }

  &__title {
    align-self: start;
  }

  &__text {
    align-self: start;
  }
}
