footer {
  background-color: var(--col-dark-800);
  color: var(--col-light-300);
  // .container {
  //   border-top: 1px solid var(--col-primary-500);
  // }

  a {
    color: var(--col-light-300);
    &:hover {
      color: var(--col-primary-500);
      opacity: 1;
    }
  }

  .footer__logo {
    max-width: 195px;
  }

  ul.menu {
    list-style: none;
    padding-inline-start: 0;
  }
  ul.fa-ul {
    margin-left: 1.5rem;
  }

  .fa-solid,
  .fa-brands {
    color: var(--col-primary-500);
  }

  .social-icons {
    display: inline-flex;
    gap: 0.5rem;
  }

  .colophon {
    background-color: var(--col-dark-800);
    font-size: var(--fs-200);
    color: #ffffffcc;
    .container {
      border-top: 1px solid var(--col-dark-500);
    }
    a {
      opacity: 0.8;
    }
  }
}
