header {
  background-color: var(--col-white);

  @media (min-width: 992px) {
    transition: var(--transition);
  }

  font-family: var(--ff-heading);

  .navbar-toggler {
    i {
      color: var(--col-accent-400);
    }
  }

  .navbar > .container {
    border-bottom: 1px solid var(--col-accent-400);
  }

  .navbar-nav {
    margin-block: 0;
  }

  a,
  a.nav-link {
    color: var(--col-black);
    font-size: var(--fs-300);
    font-weight: var(--fw-600);
    letter-spacing: var(--ls-900);
    transition: var(--transition);
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    @media (min-width: 992px) {
      &:hover {
        color: var(--col-accent-400);
        text-decoration: none;
      }
    }
    &:focus {
      color: var(--col-accent-400);
      text-decoration: none;
    }
  }

  .contact-info {
    font-size: var(--fs-300);
    font-weight: var(--fw-300);
    color: var(--col-accent-400);
    a {
      font-size: var(--fs-300);
      font-weight: var(--fw-300);
      color: var(--col-accent-400);
      text-transform: initial !important;
    }
  }

  .logo-container {
    margin-right: 1rem;
    max-width: 240px;

    @media (min-width: 1400px) {
      max-width: 300px;
    }
  }
  .logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    max-width: 100%;
    padding-block: 0;

    background-image: url(../img/devtec-logo.svg);
    aspect-ratio: 176 / 48;
    height: 48px;
    width: 176px;
  }

  .current_page_item > .nav-link,
  .current_menu_item > .nav-link,
  .current_page_parent > .nav-link,
  .dropdown.current-page-ancestor > .nav-link,
  .dropdown.current-menu-item > .nav-link {
    color: var(--col-accent-400);
  }

  // @media (max-width: 991px) {
  //   .navbar-collapse {
  //     background: var(--col-white);
  //     min-height: 100svh;
  //     /* Disable Bootstrap collapse animation */
  //     transition: none !important;
  //     /* Do not set display:flex or height, let Bootstrap animate */
  //   }

  //   /* Disable all collapse transitions on mobile */
  //   .collapsing {
  //     transition: none !important;
  //     height: auto !important;
  //   }
  //   .navbar-nav {
  //     width: 100%;
  //     padding-bottom: 2rem;
  //   }
  //   .nav-link,
  //   .navbar-nav .nav-link {
  //     font-size: var(--fs-subtle);
  //     padding: 1rem 0;
  //   }
  //   .dropdown-item {
  //     font-size: var(--fs-body);
  //   }

  //   .fs-subtle a {
  //     font-size: var(--fs-subtle);
  //   }
  // }

  @media (min-width: 992px) {
    .navbar-expand-lg {
      padding-bottom: 0;
      .navbar-nav {
        column-gap: 3rem;
        .nav-link {
          padding-inline: 0;
        }
      }
    }
  }
}
