header {
  background-color: var(--col-white);

  @media (min-width: 992px) {
    transition: var(--transition);
  }

  font-family: var(--ff-heading);

  .navbar-toggler {
    i {
      color: var(--col-primary-600);
    }
  }

  .navbar > .container {
    border-bottom: 3px solid var(--col-primary-600);
  }

  .navbar-nav {
    margin-block: 0;
  }

  a,
  a.nav-link {
    color: var(--col-black);
    font-family: var(--ff-body);
    font-size: var(--fs-300);
    font-weight: var(--fw-600);
    line-height: 1;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    @media (min-width: 992px) {
      &:hover {
        color: var(--col-accent-400);
        text-decoration: none;
      }
    }
    &:focus {
      color: var(--col-accent-400);
      text-decoration: none;
    }
  }

  .logo-container {
    margin-right: 1rem;
    max-width: 240px;

    @media (min-width: 1400px) {
      max-width: 300px;
    }
  }
  .logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    max-width: 100%;
    padding-block: 0;

    background-image: url(../img/tidy-horizontal--dk.svg);
    aspect-ratio: 300 / 83;
    height: 50px;
  }

  .current_page_item > .nav-link,
  .current_menu_item > .nav-link,
  .current_page_parent > .nav-link,
  .dropdown.current-page-ancestor > .nav-link,
  .dropdown.current-menu-item > .nav-link {
    color: var(--col-accent-400);
  }

  @media (min-width: 992px) {
    .navbar-expand-lg {
      padding-bottom: 0;
      .navbar-nav {
        column-gap: 3rem;
        align-items: center;
        .nav-link {
          padding-inline: 0;
        }
      }
    }
  }
}
