header {
  font-family: var(--ff-heading);

  nav {
    border-bottom: 3px solid var(--col-primary-600);
  }

  .navbar-brand.logo {
    background-image: url(../img/tidy-horizontal--dk.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 181px;
    flex-shrink: 0;

    @media (min-width: 1400px) {
      width: 220px;
    }
  }

  .navbar-nav .nav-link {
    color: var(--col-black);
    font-family: var(--ff-body);
    font-size: var(--fs-300);
    font-weight: var(--fw-600);
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: var(--col-primary-600);
    }
  }

  .navbar-nav .show > .nav-link,
  .navbar-nav .current_page_item > .nav-link,
  .navbar-nav .current_menu_item > .nav-link {
    color: var(--col-primary-600);
  }

  .navbar-nav .dropdown-menu .dropdown-item {
    color: var(--col-black);
    font-family: var(--ff-body);
    font-weight: var(--fw-600);

    &:hover,
    &:focus {
      color: var(--col-primary-600);
    }
  }
}
